:root {
    --color1: black;
    --color2: white;
    --color3: #D06363;
}

.color-b {
    color: var(--color1);
}

.color-w {
    color: var(--color2);
}

.color-l {
    color: var(--color3);
}

.bg-color-b {
    background-color: var(--color1);
}

.bg-color-w {
    background-color: var(--color2);
}

body {
    background-color: var(--color1);
}

/*Header*/
header {
    padding: 50px;
}

.logo_ser {
    margin-top: -30px;
    width: 90px;
    height: 100px;
    margin-left: -10px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.logo_ser:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;

}


/*Header(боковое меню)*/
.btn-outline-success {
    --bs-btn-color: var(--color3);
    --bs-btn-border-color: var(--color3);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color3);
    --bs-btn-hover-border-color: var(--color3);
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color3);
    --bs-btn-active-border-color: var(--color3);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color3);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color3);
    --bs-gradient: none;
}

.navbar-toggler {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.navbar-toggler:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas_logo {
    width: 100px;
    height: 100px;
}


/*Header(меню)*/
.main-nav .nav-link {
    color: var(--color2);
}

.main-nav .nav-link:hover {
    opacity: 0.5;
}

.main-nav .nav-link.active {
    color: var(--color3);
    opacity: 0.8;
}

.dropdown-menu.show {
    display: ruby;
}

/*Header(кнопка входа)*/
.btn_login {
    margin-left: 185px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.btn_login:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: var(--color2);
}

.profile_svg {
    width: 25px;
    height: 25px;
}

.modal-content {
    padding: 25px;
}

.modal_text {
    margin-top: -10px;
}

.modal-content {
    background-color: #EEEEEE;
}

.modal-body h4 {
    font-weight: bold;
}

.modal-body h5 {
    font-weight: initial;
}


.btn_email {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color3);
    --bs-btn-border-color: var(--color3);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color3);
    --bs-btn-hover-border-color: var(--color3);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color3);
    --bs-btn-active-border-color: var(--color3);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color2);
    --bs-btn-disabled-bg: gray;
    --bs-btn-disabled-border-color: var(--color2);
    width: 100%;
}


.confidentiality, .confidentiality a {
    color: grey;
    font-size: 10px;
}


/*Курс доллара*/
.rate-block {
    width: 100%;
    height: 30px;
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 3px;
    padding: 3px;
    margin-top: -20px;
}


/*События*/
.events_block {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color2);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.event {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 95%;
    margin: auto;
}

.event-body {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
}


.event img {
    border-radius: 5px;
    width: 500px;
    height: 200px;
    transition: transform 0.3s ease;
    display: block;
    object-fit: cover;

}

.event:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.event-price {
    background-color: rgba(32, 32, 32, 1);
    color: var(--color2);
    /*width: auto;*/
    /*height: auto;*/
    border-radius: 25px;
    position: absolute;
    padding: 9px;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
}

.event-address-date {
    font-size: 14px;
    color: grey;
    margin-top: -10px;
}


/*Основной блок*/
.main_block {
    /*box-sizing: border-box;*/
    background-color: var(--color2);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.card {
    margin: 20px;
    /*height: 30rem;*/
    height: auto;
    width: 23rem;
    border-radius: 5px;
    /*border: none;*/
}

.card a {
    color: var(--color1);
    text-decoration: none;

}

.card:hover {
    cursor: pointer;
}

.card-title {
    font-size: 23px;
}
.card-text {
    font-size: 16px;
}

.card img {
    width: 100%;
    height: 230px;
}

.card-footer h5 {
    font-size: 12px;
    color: grey;
}

/*Футер*/
.footer  {
    width: auto;
}




